Repository thinc-org/open-reg-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, pretty-quick --staged

.lintstagedrc.json:

{
  "src/**/*.ts": ["ng-lint-staged lint --fix --"],
  "src/**/*.{scss,html,ts}": ["pretty-quick --staged "]
}

:pencil: add badge for branch dev
  README.md
Due: none

:art: change development url
  .github/workflows/dev.yml
  README.md
  package.json
Due: none

:bug: fix badge
  README.md
Due: none

:art: add very good badge
  README.md
Due: none

:pencil: :wrench: change development url (#60)
  .github/workflows/dev.yml
  README.md
  package.json
Due: none

* :zap: improve test time by using karma parallel
  karma.conf.js
  package.json
  src/app/app.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
  src/app/core/services/theme.service.spec.ts
  yarn.lock
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:bug: :wrench: :rocket: change vercel command
  package.json
  vercel-staging.json
Due: none

:bug: :rocket: :wrench: fix github workflow file
  .github/workflows/dev.yml
Due: none

:pencil: add document
  README.md
Due: none

:pencil: fix typo
  README.md
Due: none

:pencil: fix line break
  README.md
Due: none

:pencil: fix line break 2
  README.md
Due: none

:pencil: fix line break 3
  README.md
Due: none

:pencil: add image
  README.md
Due: none

:pencil: fix line break ภ
  README.md
Due: none

:pencil: :art: improve docs
  README.md
Due: none

:pencil: add environments
  README.md
Due: none

:wrench: change github actions config to 3 file
  .github/workflows/staging.yml
  README.md
Due: none

:wrench: change github actions config to 3 file 2
  .github/workflows/dev.yml
  .github/workflows/staging.yml
Due: none

:wrench: add badge
  README.md
Due: none

:pencil: fix badge
  README.md
Due: none

remove unused dependencies
  package.json
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

add: import chula font
  src/assets/fonts/chulalongkorn/chulacharasnewbold-webfont.woff
  src/assets/fonts/chulalongkorn/chulacharasnewbold-webfont.woff2
  src/assets/fonts/chulalongkorn/chulacharasnewboldita-webfont.woff
  src/assets/fonts/chulalongkorn/chulacharasnewboldita-webfont.woff2
  src/assets/fonts/chulalongkorn/chulacharasnewita-webfont.woff
  src/assets/fonts/chulalongkorn/chulacharasnewita-webfont.woff2
  src/assets/fonts/chulalongkorn/chulacharasnewreg-webfont.woff
  src/assets/fonts/chulalongkorn/chulacharasnewreg-webfont.woff2
  src/assets/fonts/chulalongkorn/chulalongkornbold-webfont.woff
  src/assets/fonts/chulalongkorn/chulalongkornbold-webfont.woff2
  src/assets/fonts/chulalongkorn/chulalongkornreg-webfont.woff
  src/assets/fonts/chulalongkorn/chulalongkornreg-webfont.woff2
  src/assets/fonts/chulalongkorn/stylesheet.scss
Due: pretty-quick --staged

update: split text and palette style
  src/styles-variables-palette.scss
  src/styles-variables-text.scss
  src/styles-variables.scss
  src/styles.scss
Due: pretty-quick --staged

ongoing: implement navbar
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/core.module.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

ongoing: implement full logo
  src/app/core/components/full-logo/full-logo.component.html
Due: pretty-quick --staged

add: navbar
  src/app/app.component.html
Due: pretty-quick --staged

:bug: fix css path
  src/app/core/components/navbar/navbar.component.scss
  src/styles-variables-text.scss
  src/styles-variables.scss
  src/styles.scss
Due: pretty-quick --staged

refactor css path
  src/styles-variables-palette.scss
  src/styles-variables.scss
Due: pretty-quick --staged

refactor css path 2
  src/styles-variables-text.scss
  src/styles-variables.scss
Due: pretty-quick --staged

implement: navbar
  src/app/core/components/full-logo/full-logo.component.html
  src/app/core/components/full-logo/full-logo.component.scss
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/styles-variables-text.scss
  src/styles.scss
Due: pretty-quick --staged

:bug: revert files
  src/styles-texts.scss
Due: pretty-quick --staged

:bug: fix missing import 2
  src/app/core/components/full-logo/full-logo.component.scss
  src/styles.scss
Due: pretty-quick --staged

import: maitree font
  src/styles-texts.scss
Due: pretty-quick --staged

modify: text-style
  src/styles-variables.scss
Due: pretty-quick --staged

implement: complete nav bar
  src/app/core/components/full-logo/full-logo.component.scss
  src/app/core/components/navbar/navbar.component.scss
Due: pretty-quick --staged

:bug: :green_heart: :construction_worker: add small improvement on cicd staging
  .github/workflows/staging.yml
  README.md
  package.json
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:pencil: add swagger on readme
  README.md
Due: none
