Repository thinc-org/open-reg-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, pretty-quick --staged

.lintstagedrc.json:

{
  "src/**/*.ts": ["ng-lint-staged lint --fix --"],
  "src/**/*.{scss,html,ts}": ["pretty-quick --staged "]
}

:bug: add swagger for auth
  README.md
  src/app/app.module.ts
  src/app/core/services/mock-api.service.ts
  src/backend-client/.swagger-codegen-ignore
  src/backend-client/api.module.ts
  src/backend-client/api/api.service.ts
  src/backend-client/api/api.serviceInterface.ts
  src/backend-client/api/api.ts
  src/backend-client/model/internationalizedString.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:sparkle: add login example
  src/app/modules/home/home.component.ts
  src/backend-client/api/api.service.ts
  src/backend-client/api/api.serviceInterface.ts
  src/backend-client/model/authSignInDTO.ts
  src/backend-client/model/authToken.ts
  src/backend-client/model/models.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:sparkle: super linter
  .github/workflows/blank.yml
Due: none

:zip: only lint new files
  .github/workflows/lint.yml
Due: none

:bug: forgot to add example in last commit
  src/app/modules/home/home.component.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:sparkle: add super linter on push 2
  .github/workflows/lint.yml
Due: none

:zap: even faster speed
  .github/workflows/dev.yml
  .github/workflows/lint.yml
Due: none

:bug: linter error
  .github/workflows/dev.yml
  .github/workflows/lint.yml
Due: none

:fire: disable standard lint
  .github/workflows/lint.yml
Due: none

:fire: disable standard lint 2
  .github/workflows/lint.yml
Due: none

:fire: disable standard lint 3
  .github/workflows/lint.yml
Due: none

:fire: disable standard lint 4
  .github/workflows/lint.yml
Due: none

:fire: disable standard lint ถ
  .github/workflows/lint.yml
Due: none

:fire: disable standard lint 5
  .github/workflows/lint.yml
Due: none

:fire: disable standard lint 6
  .github/workflows/lint.yml
Due: none

:bug: fix lint error
  .github/workflows/lint.yml
  Dockerfile
  README.md
Due: none

:bug: fix lint error 2
  README.md
Due: none

:zap: faster build on fixed super lint
  .github/workflows/lint.yml
Due: none

:zap: only check on pull request
  .github/workflows/lint.yml
Due: none

:zap: only check on pull request 2
  .github/workflows/lint.yml
Due: none

:zap: only check on pull request 3
  .github/workflows/lint.yml
Due: none

:pencil2: fix (serious) typo
  README.md
Due: none

:sparkle: add validate env
  .github/workflows/lint.yml
Due: none

:sparkle: add super linter
  .github/workflows/lint.yml
  .gitignore
  Dockerfile
  README.md
Due: none

:bug: fix swagger missing api property
  src/app/core/services/mock-api.service.ts
  src/app/modules/home/home.component.ts
  src/backend-client/api/api.service.ts
  src/backend-client/api/api.serviceInterface.ts
  src/backend-client/model/userDTO.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:bug: swagger breaking changes
  README.md
  src/app/app.module.ts
  src/app/core/services/mock-api.service.ts
  src/app/modules/home/home.component.ts
  src/backend-client/.gitignore
  src/backend-client/.npmignore
  src/backend-client/.swagger-codegen-ignore
  src/backend-client/api.module.ts
  src/backend-client/api/api.service.ts
  src/backend-client/api/api.serviceInterface.ts
  src/backend-client/api/api.ts
  src/backend-client/git_push.sh
  src/backend-client/model/authSignInDTO.ts
  src/backend-client/model/authToken.ts
  src/backend-client/model/createUserDTO.ts
  src/backend-client/model/event.ts
  src/backend-client/model/internationalizedStringDTO.ts
  src/backend-client/model/models.ts
  src/backend-client/model/organization.ts
  src/backend-client/model/organizationMember.ts
  src/backend-client/model/setTagsDTO.ts
  src/backend-client/model/userDTO.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  swagger.json
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:pencil: add dev badge
  README.md
Due: none

:sparkle: navbar and font
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/components/full-logo/full-logo.component.html
  src/app/core/components/full-logo/full-logo.component.scss
  src/app/core/components/full-logo/full-logo.component.ts
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/core.module.ts
  src/app/modules/home/home.component.html
  src/app/modules/home/home.module.ts
  src/app/modules/home/logo/logo.component.html
  src/app/modules/home/logo/logo.component.ts
  src/app/modules/login/login-routing.module.ts
  src/app/modules/login/login.component.html
  src/app/modules/login/login.component.scss
  src/app/modules/login/login.component.spec.ts
  src/app/modules/login/login.component.ts
  src/app/modules/login/login.module.ts
  src/app/modules/login/login.service.spec.ts
  src/app/modules/login/login.service.ts
  src/assets/fonts/chulalongkorn/chulacharasnewbold-webfont.woff
  src/assets/fonts/chulalongkorn/chulacharasnewbold-webfont.woff2
  src/assets/fonts/chulalongkorn/chulacharasnewboldita-webfont.woff
  src/assets/fonts/chulalongkorn/chulacharasnewboldita-webfont.woff2
  src/assets/fonts/chulalongkorn/chulacharasnewita-webfont.woff
  src/assets/fonts/chulalongkorn/chulacharasnewita-webfont.woff2
  src/assets/fonts/chulalongkorn/chulacharasnewreg-webfont.woff
  src/assets/fonts/chulalongkorn/chulacharasnewreg-webfont.woff2
  src/assets/fonts/chulalongkorn/chulalongkornbold-webfont.woff
  src/assets/fonts/chulalongkorn/chulalongkornbold-webfont.woff2
  src/assets/fonts/chulalongkorn/chulalongkornreg-webfont.woff
  src/assets/fonts/chulalongkorn/chulalongkornreg-webfont.woff2
  src/assets/fonts/chulalongkorn/stylesheet.scss
  src/styles-texts.scss
  src/styles-variables.scss
  src/styles.scss
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:building_construction: change baseURL to "./src"
  src/app/app.module.ts
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.ts
  src/app/core/core.module.ts
  src/app/core/services/mock-api.service.ts
  src/app/core/services/theme.service.spec.ts
  src/app/core/services/theme.service.ts
  src/app/modules/form/form.module.ts
  src/app/modules/home/home.component.ts
  src/app/modules/home/home.module.ts
  src/app/modules/login/login-routing.module.ts
  src/assets/fonts/chulalongkorn/stylesheet.scss
  tsconfig.json
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:sparkle: add custon pagination
  angular.json
  package.json
  src/app/core/components/pagination/pagination.component.html
  src/app/core/components/pagination/pagination.component.scss
  src/app/core/components/pagination/pagination.component.spec.ts
  src/app/core/components/pagination/pagination.component.ts
  src/app/core/core.module.ts
  src/app/modules/form/form.component.html
  src/app/modules/form/form.component.ts
  yarn.lock
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:zap: optimize element ref
  src/app/core/components/pagination/pagination.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:bug: fix when clicking on last page
  src/app/core/components/pagination/pagination.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:art: improve css flexbox alignment
  src/app/core/components/pagination/pagination.component.scss
Due: pretty-quick --staged

:zap: optimize render performance
  src/app/core/components/pagination/pagination.component.html
  src/app/core/components/pagination/pagination.component.ts
  src/app/modules/form/form.component.html
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:bug: fix pagination error
  src/app/core/components/pagination/pagination.component.ts
  src/app/modules/form/form.component.html
  src/app/modules/form/form.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:art: move theming to another scss file
  src/app/core/components/pagination/pagination.component-theme.scss
  src/app/core/components/pagination/pagination.component.scss
  src/app/core/components/pagination/pagination.component.ts
  src/styles.scss
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:art: samll changes to css
  src/app/core/components/pagination/pagination.component.html
  src/app/core/components/pagination/pagination.component.scss
Due: pretty-quick --staged

:green-check-marks: fix failed test
  src/app/core/components/pagination/pagination.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged
