Repository thinc-org/open-reg-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, pretty-quick --staged

bug: fix deploy path error on staging
  .github/workflows/main.yml
Due: none

:zap: use aot for production build
  .github/workflows/main.yml
Due: none

:bug: fix wrong --aot tag
  .github/workflows/main.yml
Due: none

:rewind: revert back to before allocate 8k memory
  .github/workflows/main.yml
  .lintstagedrc.json
  package.json
Due: none

:bug: bring back 'ci' tag for test in github workflow
  .github/workflows/main.yml
  package.json
Due: none

:wrech::alembic::construction::rocket: add CI/CD for dev environment only
  .github/workflows/main.yml
  .lintstagedrc.json
  Dockerfile
  README.md
  karma.conf.js
  now.json
  package.json
  src/app/app.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
  src/app/core/services/theme.service.spec.ts
  vercel.json
  yarn.lock
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:pencil: add badge for branch dev
  README.md
Due: none

:zap: improve test time by caching
  package.json
  src/app/app.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
  src/app/core/services/theme.service.spec.ts
  yarn.lock
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:zap: add karma parallel
  karma.conf.js
  package.json
  yarn.lock
Due: none

:zap::bug: properly config yarn cache
  .github/workflows/main.yml
Due: none

:zap::bug: properly config yarn cache 3
  .github/workflows/main.yml
Due: none

:zap::bug: properly config yarn cache 4
  .github/workflows/main.yml
Due: none

:zap::alembic: try caching node_modules
  .github/workflows/main.yml
Due: none

:zap: improve test performance by cache node_modules
  package.json
  src/app/app.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
  src/app/core/services/theme.service.spec.ts
  yarn.lock
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:zap::bug: fix improve test performance by cache node_modules
  src/app/app.component.spec.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

fix: import error
  src/app/app.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

init: login form
  src/app/modules/login/login-routing.module.ts
  src/app/modules/login/login.component.html
  src/app/modules/login/login.component.scss
  src/app/modules/login/login.component.spec.ts
  src/app/modules/login/login.component.ts
  src/app/modules/login/login.module.ts
  src/app/modules/login/login.service.spec.ts
  src/app/modules/login/login.service.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

add: login path
  src/app/app-routing.module.ts
  src/app/modules/login/login-routing.module.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

remove: logo in home modules
  src/app/modules/home/home.component.html
  src/app/modules/home/home.module.ts
  src/app/modules/home/logo/logo.component.html
  src/app/modules/home/logo/logo.component.scss
  src/app/modules/home/logo/logo.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

create: full logo component
  src/app/core/components/full-logo/full-logo.component.html
  src/app/core/components/full-logo/full-logo.component.scss
  src/app/core/components/full-logo/full-logo.component.spec.ts
  src/app/core/components/full-logo/full-logo.component.ts
  src/app/core/core.module.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

remove: test file
  src/app/core/components/full-logo/full-logo.component.spec.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

add: more color palette
  src/styles-variables.scss
Due: pretty-quick --staged

import: Maitree font
  src/styles.scss
Due: pretty-quick --staged

:rocket: :wrench: add cicd for production
  .github/workflows/dev.yml
  .github/workflows/prod.yml
Due: none

:bug: :wrench: fix typo in prod.yml
  .github/workflows/prod.yml
Due: none

:bug: :wrench: change nginx port to 5000
  Dockerfile
Due: none

:bug: fix docker path
  Dockerfile
Due: none

:bug: :wrench: fix yml file
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  Dockerfile
Due: none

:bug: github workflow
  .github/workflows/dev.yml
  Dockerfile
Due: none

:zap: cache node_modules
  .github/workflows/prod.yml
Due: none

:bug: change env to production
  .github/workflows/dev.yml
  .github/workflows/prod.yml
Due: none

:bug: fix env name
  .github/workflows/dev.yml
  .github/workflows/prod.yml
Due: none

:bug: fix docker file
  Dockerfile
Due: none

:bug: fix nginx config file
  nginx/default.conf
Due: none

:fix: change to master
  .github/workflows/prod.yml
Due: none

trigger ci
  README.md
Due: none

fix: global style
  src/styles.scss
Due: pretty-quick --staged

add: text-style mixin (not import font yet)
  src/styles-variables.scss
Due: pretty-quick --staged

:zap: :rocket: CICD production (#63)
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  Dockerfile
  README.md
  nginx/default.conf
  package.json
  src/app/app.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
  src/app/core/services/theme.service.spec.ts
  yarn.lock
Due: ng-lint-staged lint --fix --, pretty-quick --staged

Path conditions:
  ng-lint-staged lint --fix --: any of: src/**/*.ts
  pretty-quick --staged: any of: src/**/*.{scss,html,ts}
