Repository thinc-org/open-reg-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, pretty-quick --staged

:green-check-marks: fix failed test 2
  src/app/core/components/pagination/pagination.component.ts
  src/app/modules/form/form.component.html
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:white_check_mark: write 90% code coverage test for pagination component
  src/app/core/components/pagination/pagination.component.spec.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:art: change array initilization method
  src/app/modules/form/form.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:bug: fix pagination bug
  src/app/core/components/pagination/pagination.component.spec.ts
  src/app/core/components/pagination/pagination.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:green_heart: fix super linter
  src/app/core/components/pagination/pagination.component.spec.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:sparkle: pagination component
  angular.json
  package.json
  src/app/core/components/pagination/pagination.component-theme.scss
  src/app/core/components/pagination/pagination.component.html
  src/app/core/components/pagination/pagination.component.scss
  src/app/core/components/pagination/pagination.component.spec.ts
  src/app/core/components/pagination/pagination.component.ts
  src/app/core/core.module.ts
  src/app/modules/form/form.component.html
  src/app/modules/form/form.component.ts
  src/styles.scss
  yarn.lock
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:sparkles: create event-card
  src/app/core/components/event-card/event-card.component.html
  src/app/core/components/event-card/event-card.component.scss
  src/app/core/components/event-card/event-card.component.spec.ts
  src/app/core/components/event-card/event-card.component.ts
  src/app/core/core.module.ts
  src/app/modules/home/home.component.html
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:sparkle: add custon pagination
  src/app/core/components/pagination/pagination.component.html
  src/app/core/components/pagination/pagination.component.scss
  src/app/core/components/pagination/pagination.component.spec.ts
  src/app/core/components/pagination/pagination.component.ts
  src/app/modules/form/form.component.html
  src/app/modules/form/form.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:refactor: pagination
  src/app/core/components/pagination/pagination.component.html
  src/app/core/components/pagination/pagination.component.scss
  src/app/core/components/pagination/pagination.component.spec.ts
  src/app/core/components/pagination/pagination.component.ts
  src/app/core/utils/dom/dom.spec.ts
  src/app/core/utils/dom/index.ts
  src/app/modules/form/form.component.html
  src/app/modules/form/form.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:pencil: add dev badge (#71)
  README.md
Due: none

BUG!!!
  src/styles-texts.scss
  src/styles.scss
Due: pretty-quick --staged

:recycle: refactor pagination code
  src/app/core/components/pagination/pagination.component.spec.ts
  src/app/core/components/pagination/pagination.component.ts
  src/app/core/utils/dom/dom.spec.ts
  src/app/core/utils/dom/index.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:bug: fix absolute path import
  src/app/core/components/pagination/pagination.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:wrench: change baseURL to "./src"
  src/app/app.module.ts
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/components/pagination/pagination.component.ts
  src/app/core/components/theme-controller/theme-controller.component.spec.ts
  src/app/core/components/theme-controller/theme-controller.component.ts
  src/app/core/services/mock-api.service.ts
  src/app/core/services/theme.service.spec.ts
  src/app/core/services/theme.service.ts
  src/app/modules/form/form.module.ts
  src/app/modules/home/home.component.ts
  src/app/modules/home/home.module.ts
  src/app/modules/login/login-routing.module.ts
  src/assets/fonts/chulalongkorn/stylesheet.scss
  src/styles-texts.scss
  src/styles.scss
  tsconfig.json
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:lipstick::art: style, format event-card
  src/app/core/components/event-card/event-card.component.html
  src/app/core/components/event-card/event-card.component.scss
  src/app/core/components/event-card/event-card.component.ts
  src/app/core/core.module.ts
  src/app/core/types/constant.ts
  src/app/modules/home/home.component.html
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:bug: ci build error
  src/app/core/components/event-card/event-card.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

add: styles-breakpoints.scss
  src/styles-breakpoints.scss
  src/styles.scss
Due: pretty-quick --staged

fix: check name and mode contain in lists
  src/styles-breakpoints.scss
Due: pretty-quick --staged

SCSS breakpoints (#77)
  src/styles-breakpoints.scss
  src/styles.scss
Due: pretty-quick --staged

:recycle: :sparkles: redo event card, add event date fields
  src/app/app.module.ts
  src/app/core/components/event-card/event-card.component.html
  src/app/core/components/event-card/event-card.component.scss
  src/app/core/components/event-card/event-card.component.ts
  src/app/core/services/mock-api.service.ts
  src/app/core/types/constant.ts
  src/app/modules/home/home.component.html
  src/backend-client/model/event.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:lipstick: :art: edit, style event-card
  src/app/core/components/event-card/event-card.component.html
  src/app/core/components/event-card/event-card.component.scss
  src/app/core/services/mock-api.service.ts
  src/app/modules/home/home.component.html
Due: ng-lint-staged lint --fix --, pretty-quick --staged

:white_check_mark: add test
  src/app/core/components/event-card/event-card.component.spec.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

add more example
  src/app/modules/home/home.component.html
Due: pretty-quick --staged

WIP: Feat/event list component (#79)
  README.md
  src/app/app.module.ts
  src/app/core/components/event-card/event-card.component.html
  src/app/core/components/event-card/event-card.component.scss
  src/app/core/components/event-card/event-card.component.spec.ts
  src/app/core/components/event-card/event-card.component.ts
  src/app/core/core.module.ts
  src/app/core/services/mock-api.service.ts
  src/app/core/types/constant.ts
  src/app/modules/home/home.component.html
  src/backend-client/model/event.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

test: add testing
  .stylelintrc.json
  src/app/core/components/event-card/event-card.component.html
  src/app/core/components/event-card/event-card.component.spec.ts
  src/backend-client/model/event.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

trigger ci
  src/app/core/components/event-card/event-card.component.spec.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

create: auth service
  src/app/core/services/auth.service.spec.ts
  src/app/core/services/auth.service.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

remove: login service
  src/app/modules/login/login.service.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

remove: import styles-breakpoints.scss
  src/styles.scss
Due: pretty-quick --staged

change: style-breakpoint
  src/styles-breakpoints.scss
  src/styles-variables.scss
Due: pretty-quick --staged

fix: style-breakpoint name
  src/styles-breakpoints.scss
Due: pretty-quick --staged

remove: auth service
  src/app/core/services/auth.service.spec.ts
  src/app/core/services/auth.service.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

create: login page and implement login method
  src/app/modules/login/login-routing.module.ts
  src/app/modules/login/login.component.html
  src/app/modules/login/login.component.scss
  src/app/modules/login/login.component.ts
  src/app/modules/login/login.module.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

add: login link
  src/app/app.component.html
Due: pretty-quick --staged

remove: login test
  src/app/modules/login/login.component.spec.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

create: user model
  src/app/models/user.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

create: auth guard and auth service
  src/app/core/guards/auth.guard.ts
  src/app/core/services/auth.service.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

add: console message
  src/app/core/services/auth.service.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

fix: login form to reactive form
  src/app/modules/login/login.component.html
  src/app/modules/login/login.component.scss
  src/app/modules/login/login.component.ts
  src/app/modules/login/login.module.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged

Path conditions:
  ng-lint-staged lint --fix --: any of: src/**/*.ts
  pretty-quick --staged: any of: src/**/*.{scss,html,ts}
